<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('core.index')}}">Buy Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('core.books')}}">Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('core.books')}}">Account</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
        <!-- Add conditional to hide if user is logged in -->
        <button class="btn btn-outline-secondary" type="submit" role="register" onclick="window.location = 'http://127.0.0.1:5000/register'" style="margin-right: 10px">Register</button>
        <button class="btn btn-outline-secondary" type="submit" role="login" onclick="window.location = 'http://127.0.0.1:5000/login'">Login</button>
      </div>
    </div>
  </nav>