{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="email" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
    <br />
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <br />
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <br />
    <!-- <div class="form-group">
        <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password">
      </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}