{% extends "base.html"%}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div>
            <h1>Welcome to the page for {{user.username}}</h1>
            <img src="{{url_for('static',filename='profile_pics/'+current_user.picture)}}">

        </div>
    </div>    

<!-- {% for book in books.items%}
    <h2><a href="{{url_for('books.book', book_id=book.id)}}">{{book.title}}</a></h2>
    Written By: {{book.author}}
    <p class="text-muted">Published on: {{book.date.strftime("%Y-%m-%d")}}</p>
    <br>
{% endfor %} -->
</div>

<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Books</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books%}
              <tr>
                <th scope="row">1</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.date.strftime("%Y-%m-%d")}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </ul>
</nav>
{% endblock %}